body {
    background-image: url(qbkls.png);
    margin: 0 auto;
}

p {
    line-height: 150%;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

article {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 10px;
    padding: 15px;
}

header {
    text-align: center;
    background-color: white;
    width: 600px;
    margin: 0 auto;
    margin-top: -21.440px;
    margin-bottom: -21.440px;
    padding: 10px 15px 10px 15px;
}

h1 {
    font-family: 'Lato', sans-serif;
}

article img {
    float: right;
    margin: 10px 0px 0px 10px;
}

hr {
    margin-bottom: 15px;
}